@model BtcKpi.Web.ViewModels.UpfCrossListViewModel
@using BtcKpi.Service.Common
@{
    ViewBag.Title = "KPIs phòng / bộ phân";
    ViewBag.SubTitle = "Đánh giá chéo";
}
@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
    @Scripts.Render("~/Scripts/Elements/Modals/menu")
}
@Styles.Render("~/BitexcoThemes/plugins/datatables/css")
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item align-middle">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">Công ty:</label>
                                @Html.DropDownListFor(x => Model.CompanyID, Model.Companies, "--- Chọn ---", new { @class = "col-md-7 pull-right", @style = "width: 168px;", @onchange = "companySearchChange(this.value)" })
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">Từ phòng ban:</label>
                                @Html.DropDownListFor(x => Model.FromDepartmentID, Model.Departments, "--- Chọn ---", new { @class = "col-md-7 pull-right", @style = "width: 168px;", @onchange = "companySearchChange(this.value)" })
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">Đến phòng ban:</label>
                                @Html.DropDownListFor(x => Model.ToDepartmentID, Model.Departments, "--- Chọn ---", new { @class = "col-md-7 pull-right", @style = "width: 168px;", @onchange = "companySearchChange(this.value)" })
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item align-middle">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">Trạng thái:</label>
                                @Html.DropDownListFor(x => Model.Status, Model.StatusListItems, "--- Chọn ---", new { @class = "col-md-7 pull-right", @style = "width: 168px;", @onchange = "companySearchChange(this.value)" })
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-5 control-label">Năm:</label>
                                @Html.DropDownListFor(x => Model.Year, Model.Years, "--- Chọn ---", new { @class = "col-md-7 pull-right", @style = "width: 168px;", @onchange = "companySearchChange(this.value)" })
                            </div>
                            <div class="col-md-4" id="dIpf_ScheduleID">
                                <label class="col-md-5 control-label">Tháng:</label>
                                @Html.DropDownListFor(x => Model.Month, Model.Months, "--- Chọn ---", new { @class = "col-md-7 pull-right", @style = "width: 168px;", @onchange = "companySearchChange(this.value)" })
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item align-middle">
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btnSearch" type="button" class="btn btn-info btn-sm pull-right">Tìm kiếm</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-body">
                @Html.HiddenFor(model => model.Status)
                @Html.HiddenFor(model => model.UserDepartmentID)
                <table id="upf-cross-table" class="table table-bordered table-hover">
                    @Html.Partial("_UpfCrossTable")
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/BitexcoThemes/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
    @Scripts.Render("~/Scripts/Upf/cross")
}
