@using AMS.Models;
@model IEnumerable<AMS.Models.Company>

<div class="table-responsive">
    <table id="CompanyTable" class="table table-bordered table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameVn)
            </th>
            <th></th>
        </tr>

        @BuildMenu(@Model, null, 0, "")

    </table>
</div>
<input type="hidden" id="SelectedCompany" value="@Html.Raw(Model.First().Id)" />


@helper BuildMenu(IEnumerable<Company> data, int? parentId = null, int? leverl = 0, string classParent = "")
{

    var items = data.Where(d => d.ParentId == parentId);
    if (items.Any())
    {
        foreach (var item in items)
        {
            <tr id="@Html.Raw("Row" + item.Id.ToString())" @Html.Raw("class='Row" + parentId.ToString() + "'") onclick="userClick(@Html.Raw("'" + item.Id + "','../Departments/GetListDepartments/" + item.Id + "'"))">
              
                <td>
                    @if (item.CompanyChild.Count() > 0)
                    {
                        <a href="#" onclick="hideNumRow(this, @Html.Raw("'Row" + item.Id.ToString() + "'"),true)"
                           @Html.Raw("style='padding:8px  20px 8px " + ((leverl + 1) * 10).ToString() + "px'")>
                            <i class="fa fa-caret-down">&nbsp;@item.NameVn</i>
                        </a>
                    }
                    else
                    {
                        <p @Html.Raw("style='padding-left:" + ((leverl + 1) * 10).ToString() + "px; margin:0'")>@Html.Raw(item.NameVn)</p>
                    }
                </td>
                <td>
                    <a class="create_modal" href='@Url.Action("Edit", "Companies", new { Id = item.Id }, null)'><i class="fa fa-edit fa-lg"></i></a>
                </td>
            </tr>
            @BuildMenu(data, item.Id, leverl + 1, classParent + " Row" + parentId.ToString())
        }

    }
}
@Scripts.Render("~/bundles/modalform")
<script type="text/javascript">
    function hideNumRow(el, hideRow, click) {

        var iEle = $(el).find('i:first')[0];

        var classCss = $(iEle).attr('class');
        var display = $('#' + hideRow).css('display');
        if (click) {
            if (classCss == "fa fa-caret-down") {
                $(iEle).attr("class", "fa fa-caret-right");
            }
            else {
                $(iEle).attr("class", "fa fa-caret-down");
            }
        }

        classCss = $(iEle).attr('class');
        $('.' + hideRow).each(function () {
            if (classCss == "fa fa-caret-right" || display == "none") {
                if ($(this).css('display') != 'none') {
                    $(this).css('display', 'none');
                }
            }
            else {
                if ($(this).css('display') != 'block') {
                    $(this).css('display', '');
                }
            }
            var iClass = $(this).find('a:first');
            hideNumRow(iClass[0], $(this).attr('id'), false);
        })

    }
</script>

<script type="text/javascript">
    function userClick(rowId, href) {
        $('#grid-list-sub').html($('#progresBarLoadingData').html());
        $('#grid-list-sub').load(href);

        $('#CompanyTable tr').removeClass('rowHilight')
        $('#Row' + rowId).addClass('rowHilight');

        $('#addDept').prop('href', '/Departments/Create?CompanyId=' + rowId);
        $('#SelectedCompany').val(rowId);
        return false;
    }
    function formSubmit(pageParam) {
        var pageN = 1;
        if (pageParam != null) {
            pageN = pageParam;
        }
        $('#progresBarLoadingData').show();
        $.post("@Url.Content("~/Companies/Index")").done(function (d) {
            $('#grid-list').html(d);
        });
        $('#progresBarLoadingData').hide();
    }
</script>
