@model IEnumerable<AMS.Models.DeviceAndTool>

@{
    ViewBag.Title = "Báo cáo kiểm kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <h2 class="col-md-9">Báo cáo kiểm kê</h2>
        <div class="col-md-3" id="progresBarLoadingData" style="padding-top:5px; display:none">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                @Html.Raw("Đang xử lý dữ liệu! ")
            </div>
        </div>
    </div>
</div>

<div class="toolBar" style="background-color:none !important;">
    <div class="form-inline">        
        <div class="container-fluid">           
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Thời gian kiểm kê từ </span>
                <input type="text" id="fromDate" style="width:100px" class="form-control input-sm datemarsk" />
                <span class="input-group-addon">đến</span>
                <input type="text" id="toDate" style="width:100px" class="form-control input-sm datemarsk" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm" onclick="formSubmit(1);" aria-expanded="false"><i class="fa fa-search fa-lg"></i> Tìm kiếm</button>
                    <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="modal" data-target="#SearchModel">
                        <span class="fa fa-search-plus fa-lg"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                </div>
            </div>
            <div class="btn-group pull-right">
                <button type="button" onclick="ExportBarcode();" class=" btn btn-success btn-sm" aria-expanded="false"><i class="fa fa-file-excel-o fa-lg"></i> Xuất kết quả theo từng trang</button>
                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a onclick="ExportBarcodeAll(); return false;">Xuất tất cả kết quả</a></li>
                </ul>
            </div>
            <div class="btn-group pull-right" style="margin-right:10px">
                @*<button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> Thêm mới</button>*@
                <a class="btn btn-primary btn-sm create_modal_Upload" href="@Url.Action("UpdateCheck", "Report")"><i class="fa fa-check-square-o fa-lg"></i> Cập nhật kiểm kê</a>
            </div>            
          <div class="col-sm-12 text-success" id="moreQuerry" style="font-size:12px">
              
          </div>
        </div>
    </div>    
</div>

<div class="modal fade" id="SearchModel" style="display:none" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#SearchModel').modal('hide');"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                <h4 class="modal-title" id="myModalLabel">Tìm kiếm chi tiết</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mã tài sản</label>
                    <div class="col-sm-9">
                        <input type="text" id="txbMaTS" class="form-control input-sm" placeholder="Mã TS" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Người sử dụng</label>
                    <div class="col-sm-9">
                        <input type="text" id="txbStaff" class="form-control input-sm" placeholder="Người sử dụng" />
                        <input type="hidden" name="staffId" id="staffId">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Công ty, phòng ban</label>
                    <div class="col-sm-9">
                        <input type="hidden" id="CompanySearchId">
                        <input type="hidden" id="DeptSearchId">
                        <div class="btn-group" id="GroupDropdownCompanyDeptSearch">
                            <button type="button" id="BtnCompanyDeptMaintSearch" style="min-width:280px; color: #8A8D96; min-height:30px; text-align:left" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Chọn công ty, phòng ban &nbsp;&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" role="menu" style="max-height:250px; overflow:auto; padding-left:5px; padding-right:5px; ">
                                @{Html.RenderAction("CompanyDeptSelector", "Companies", new { type = "ToSearch" });}
                            </div>
                            <script type="text/javascript">
                                $('.dropdown-menu input, .dropdown-menu table, .dropdown-menu i').click(function (e) {
                                    e.stopPropagation();
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Địa điểm sử dụng</label>
                    <div class="col-sm-9">
                        <input type="hidden" id="LocationSearchId">
                        <div class="btn-group" id="LocationDropdownSearch">
                            <button type="button" id="BtnLocationSearch" style="min-width:280px; color: #8A8D96; min-height:30px; text-align:left" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Chọn địa điểm &nbsp;&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" role="menu" style="max-height:250px; overflow:auto; padding-left:5px; padding-right:5px;">
                                @{Html.RenderAction("LocationSelector", "Locations", new { type = "ToSearch" });}
                            </div>
                            <script type="text/javascript">
                                $('.dropdown-menu input, .dropdown-menu table, .dropdown-menu i').click(function (e) {
                                    e.stopPropagation();
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"> Tình trạng</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control input-sm", @onchange = "formSubmit(1);" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Loại thiết bị</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("DeviceCatId", null, htmlAttributes: new { @class = "form-control input-sm", @onchange = "formSubmit(1);" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Quản lý bởi</label>
                    <div class="col-sm-9">
                        <select class="form-control input-sm" id="AdminOrIT" name="AdminOrIT" onchange="formSubmit(1);">
                            <option value="null"></option>
                            <option value="0">Admin</option>
                            <option value="1">IT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Loại công cụ</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("ToolCatId", null, htmlAttributes: new { @class = "form-control input-sm", @onchange = "formSubmit(1);" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="formSubmit(1);">
                    <i class="fa fa-search"></i> Tìm kiếm
                </button>
                <button type="button" class="btn btn-default" onclick="$('#SearchModel').modal('hide');">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="grid-list" class="table-responsive">
    @{ Html.RenderPartial("_ListDeviceAndTool", (AMS.Models.Pagging<AMS.Models.DeviceAndTool>)ViewBag.PaggingDeviceAndTool); }
</div>

<div id='CRUDDialog' class='modal fade in'>
    <div id='CRUDDialogContent'></div>
</div>

